# compiled java classes
*.class

# compiled c++ classes
*.bin
*.o
*.exe
main

# common build outputs
*.out
*.obj
*.a
*.so
*.dll
*.dylib

# CPH Judge (extension in VSCode)
.cph/
lib/

# these templates have been incorporated in Main.java
Kattio.java
FastScanner.java
template.java

# misc
.LCKA.java~
interview/
.vscode/
.DS_Store